//  Title component
$title_fixed_part_color: #ffa500;

//  Prizes component
$table_border_color: #000000;
$header_background: #f8dca6;
$even_rows_background: #ffffb7;

//  Numbers component
$number_color: #ffffff;
$standard_number_bg: #bdbdbe;
$special_number_bg: #ebbf49;

//  Footer component
$footer_date_color: #ff6347;