.App{
  display: flex;
  flex-flow: column;
  align-items:center;
  padding-top: 2rem;
  min-height: 20rem;
}

.isLoading{
  background-image: url(./assets/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  min-height: 20rem;
}