.numbers{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2rem 0;
}

.standardNumbers{
    display: flex;
    flex-flow: row;
    color: blue;
}

.specialNumbers{
    display: flex;
    flex-flow: row;
    color: green;
}

.sn,.sp{
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid;
    margin-left: 2rem;
}

.separator{
    margin-left: 2rem;
    font-size: 2rem;
}