.numbers{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2rem 0;
}

.standardNumbers,.specialNumbers{
    display: flex;
    flex-flow: row;
}

.sn,.sp{
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid;
    margin-left: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
}

.sn{
    border-color: blue;
}

.sp{
    border-color: green;
}

.separator{
    margin-left: 2rem;
    font-size: 2rem;
}

.circle-text{
    margin:auto;
}