.numbers{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2rem 0;

    .setOfNumbers{
        display: flex;
        flex-flow: row;

        .singleNumber{
            padding: 1rem;
            border-radius: 50%;
            border: 1px solid;
            margin-left: 2rem;
            width: 25px;
            height: 25px;
            display: flex;
            color: $number_color;
            font-family: fantasy;

            &.sn{
                background: $standard_number_bg;
            }

            &.sp{
                background: $special_number_bg;
            }

            .circle-text{
                margin:auto;
            }
        }
    }

    .separator{
        margin-left: 2rem;
        font-size: 2rem;
    }
}