.numbers{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2rem 0;

    .setOfNumbers{
        display: flex;
        flex-flow: row;        
    }

    .separator{
        margin-left: 2rem;
        font-size: 2rem;
    }
}